.main-container{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
  border: 2px solid green;
  background-color:DarkSeaGreen;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.navlinks{
display:flex;
align-items:center;
}
.navlink{
list-style-type:none;
padding: 0 10px;
}
.header{
    grid-area:hd;
  }
.headerPhoto{
  display:flex;
  align-items:center;
  height: 200px;
  width: 50%;
}
.sidebarImage{
  height:340px;
  width:283px;
}
  .footer{
    grid-area: ft;
    justify-content:center;
    text-align:center;
  }
 
  .main{
    grid-area: main;
  }
.sidebar{
  grid-area: sd;
}

/* If Screen Is Wide Enough */
@media(min-width:900px) {
.main-container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd sd main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid green;
      background-color:DarkSeaGreen;
  }
}
