.main-container{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
  border: 2px solid yellow;
}

.nav{
  display:flex;
  align-items:center;
}
.navlink{
list-style-type:none;
padding: 0 10px;
}
  .header{
    /* row start/column start/ row end/ column end */
    grid-area:hd;
  }
.headerPhoto{
border-radius:75%;
}
  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .main{
    grid-area: main;
  }
/* If Screen Is Wide Enough */
@media(min-width:900px) {
.container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main sd sd sd"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
  }
}
